*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
logs/
*.log
dependency-reduced-pom.xml
/bin
*/bin
*.lnk
.svn*
pom.xml.versionsBackup
web/.wtpmodules
rebel.xml
web.xml
web/gulp/